@using Microsoft.AspNetCore.Identity
@using OSLProject.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
 
@{

    ViewData["Title"] = "Home Page";
}


<section id="hero" class="hero d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center">
                <h1 data-aos="fade-up">Student - Teacher Question & Answer Platform.</h1>
                <h2 data-aos="fade-up" data-aos-delay="400">
                    An Application where students and teachers of various institutes can visit and
                    log in to their respective accounts. Students can ask questions on their study topics. Those
                    asked questions can be answered by teachers.
                </h2>
                <div data-aos="fade-up" data-aos-delay="600">
                    <div class="text-center text-lg-start">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            var user = await UserManager.GetUserAsync(User);
                            <h1>Hello, @($"{user.FirstName} {user.LastName}")!</h1>
                            <a class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center" asp-area="" asp-controller="QA" asp-action="Index">Q&A Section</a>
                        }
                        else
                        {

                            <a class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center" asp-area="" asp-controller="QA" asp-action="Index">Get Started</a>

                        }
                         <i class="bi bi-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
                <img src="assets/img/hero-img.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>

</section>


